{% extends "pages/base.html" %}

{% block title %}Posts{% endblock %}

{% block content %}
    <h1>Posts</h1>
    <button onclick="window.location.href='/post/create'">Create new post</button>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>User</th>
                <th>Created At</th>
                <th>Action</th>
            <tr>
        </thead>
        <tbody>
            {% for post in Posts %}
            <tr>
                <td></td>
                <td><a href="/post/{{post.id}}">{{post.title}}</td>
                <td>{{post.user}}</td>
                <td>{{post.created_at|date:"d-m-Y"}}</td>
                <td>
                    <button onclick="window.location.href='post/{{post.id}}/update'">Edit</button>
                    <button onclick="window.location.href='{{post.id}}/delete'">Delete</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
{% endblock %}